<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991205971341-g4dinraf33fj6cvnntio757vk9ddlr43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991205971341-g4dinraf33fj6cvnntio757vk9ddlr43</string>
	<key>API_KEY</key>
	<string>AIzaSyAsMVPnkTd3jYcPuh9c3B4BuUWHFYodDEw</string>
	<key>GCM_SENDER_ID</key>
	<string>991205971341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.WhoAreYou</string>
	<key>PROJECT_ID</key>
	<string>who-are-you-157f1</string>
	<key>STORAGE_BUCKET</key>
	<string>who-are-you-157f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991205971341:ios:9d308297d0ffcbbe92d9c4</string>
</dict>
</plist>